<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @forsale.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @forsale.address %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @forsale.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @forsale.latitude %>
</p>

<p>
  <strong>Gmaps:</strong>
  <%= @forsale.gmaps %>
</p>

<p>
  <strong>City:</strong>
  <%= @forsale.city %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @forsale.postal_code %>
</p>

<p>
  <strong>Province:</strong>
  <%= @forsale.province %>
</p>

<p>
  <strong>Description:</strong>
  <%= @forsale.description %>
</p>

<p>
  <strong>House type:</strong>
  <%= @forsale.house_type %>
</p>

<p>
  <strong>Style:</strong>
  <%= @forsale.style %>
</p>

<p>
  <strong>Year build:</strong>
  <%= @forsale.year_build %>
</p>

<p>
  <strong>Lot size:</strong>
  <%= @forsale.lot_size %>
</p>

<p>
  <strong>Size:</strong>
  <%= @forsale.size %>
</p>

<p>
  <strong>Lot type:</strong>
  <%= @forsale.lot_type %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @forsale.bedrooms %>
</p>

<p>
  <strong>Bathroom:</strong>
  <%= @forsale.bathroom %>
</p>

<p>
  <strong>Ext finish:</strong>
  <%= @forsale.ext_finish %>
</p>

<p>
  <strong>Heating type:</strong>
  <%= @forsale.heating_type %>
</p>

<p>
  <strong>Heating fuel:</strong>
  <%= @forsale.heating_fuel %>
</p>

<p>
  <strong>Cooling type:</strong>
  <%= @forsale.cooling_type %>
</p>

<p>
  <strong>Water:</strong>
  <%= @forsale.water %>
</p>

<p>
  <strong>Parking type:</strong>
  <%= @forsale.parking_type %>
</p>

<p>
  <strong>Total parking space:</strong>
  <%= @forsale.total_parking_space %>
</p>

<p>
  <strong>Liv room:</strong>
  <%= @forsale.liv_room %>
</p>

<p>
  <strong>Din room:</strong>
  <%= @forsale.din_room %>
</p>

<p>
  <strong>Kitchen:</strong>
  <%= @forsale.kitchen %>
</p>

<p>
  <strong>Part bathroom:</strong>
  <%= @forsale.part_bathroom %>
</p>

<p>
  <strong>Eating area:</strong>
  <%= @forsale.eating_area %>
</p>

<p>
  <strong>Mas bedroom:</strong>
  <%= @forsale.mas_bedroom %>
</p>

<p>
  <strong>Bedroom 2:</strong>
  <%= @forsale.bedroom_2 %>
</p>

<p>
  <strong>Bedroom 3:</strong>
  <%= @forsale.bedroom_3 %>
</p>

<p>
  <strong>Bedroom 4:</strong>
  <%= @forsale.bedroom_4 %>
</p>

<p>
  <strong>Bedroom 5:</strong>
  <%= @forsale.bedroom_5 %>
</p>

<p>
  <strong>Bathroom:</strong>
  <%= @forsale.bathroom %>
</p>

<p>
  <strong>Bathroom 2:</strong>
  <%= @forsale.bathroom_2 %>
</p>

<p>
  <strong>Bathroom 3:</strong>
  <%= @forsale.bathroom_3 %>
</p>

<p>
  <strong>Laundry room:</strong>
  <%= @forsale.laundry_room %>
</p>

<p>
  <strong>Rec room:</strong>
  <%= @forsale.rec_room %>
</p>

<p>
  <strong>Mls:</strong>
  <%= @forsale.mls %>
</p>

<p>
  <strong>Price:</strong>
  <%= @forsale.price %>
</p>

<%= link_to 'Edit', edit_forsale_path(@forsale) %> |
<%= link_to 'Back', forsales_path %>
